*{
    font-family: "Inter", sans-serif !important;
    font-weight: 500;
    font-size: 16px;
    margin: 0;
    padding: 0;
    flex-wrap: nowrap;
}

body{
    font-weight: 700;
    font-size: medium;
    z-index: 10;
}
.inputs{
    margin-bottom: 5px;
    border-radius: 15px;
    height: 70px;
    background-color: rgb(33, 36, 41);
    border: none;
    font-size: 30px;
}
.eth-img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 5px;
}
#arrow{
    display: flex;
    width: 100%;
    position: absolute;
    align-items: center;
    justify-content: center;
    /*left: 40%;
    top: 35%;*/
    border: 4px solid rgb(24, 26, 30) !important;
    z-index: 99 !important;
    cursor: pointer;
    transition: all 0.2s ease;
    padding: 2px;
    width: fit-content;
    transform: translate(220px, 110px);
    border-radius: 12px !important;
    color: rgba(255, 255, 255, 0.527);
    background-color: rgb(33, 36, 41);
}
/*
#arrow{
    background: rgb(173, 173, 173);
    width: 15px;
    height: 15px;
    border-radius: 50% !important;
}
*/
.token-image {
    width: 20px;
}
#ETH{
    display: flex;
    position: absolute;
    align-items: flex-end;
    justify-content: center;
    transform: translate(380px, 60px);
    border-radius: 15px;
    background-color: #333;
    
}
#from-token-text{
    color: white;
    padding-left: 0;
}
#token{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    transform: translate(340px, 140px);
}

#eth-input{
    height: 80px;
}
.main-head{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}


@media screen and (max-width: 970px) {
    #nav{
        position: fixed;
        bottom: 0;
        transform: translate(50%, -50%);
        right: 50%;
        width: 309px;
        flex-wrap: nowrap;

    }   
    .top-connect{
        display: none;
    }
}

@media screen and (max-width: 485px) {
    #first{
        flex-wrap: nowrap;
    }
    #left-nav{
        float: left;
        right: 0;
        transform: translate(160px, 0);
    }
    
    #second{
        transform: translate(50px, 100px);
    }

    @media screen and (max-width: 415px) {
        #second{
            transform: translate(6px,20px);
        }
    }
}